html {
  font-family: "Unica One", sans-serif;
  color: #fff;
}

h1 {
  position: absolute;
  left: 65px;
  top: 60px;

  opacity: 0;

  animation: fade-in 1s linear forwards;
}

#narwhal-eye {
  opacity: 0;

  animation: fade-in 1s .5s linear forwards;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#narwhal-body {
  animation: body-animate 1s linear forwards;

  stroke-dasharray: 1982px;
  stroke-dashoffset: 1982px;
}

@keyframes body-animate {

  0% {
    stroke-dashoffset: 1982px;
  }

  100% {
    stroke-dashoffset: 0;
  }

}

#rainbow-violet {
  animation: violet-animate 1s linear forwards;
}

#rainbow-indigo {
  animation: indigo-animate 1s linear forwards;
}

#rainbow-blue {
  animation: blue-animate 1s linear forwards;
}

#rainbow-green {
  animation: green-animate 1s linear forwards;
}

#rainbow-yellow {
  animation: yellowanimate 1s linear forwards;
}

#rainbow-orange {
  animation: orange-animate 1s linear forwards;
}

#rainbow-red {
  animation: red-animate 1s linear forwards;
}
